body {
  height: 100%;
  /* font-family: "Courier"; */
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: green;
}
a:link {
  text-decoration: none;
}
a:active {
  background-color: hotpink;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 17px;
}

.containerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
}
.child {
  flex: 1;
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}


.monospace {
  /* font-family: "Courier"; */
  font-family: "Lucida Console";
}
.wireframe {
  border: 1px solid black;
}
.hiddentext {
  display: none;
}
.invisible {
  display: none;
}





@media screen and (max-height: 950px) {
  .sidenav {padding-top: 15px;font-size:10px}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 375px) {
  body {
    /* font-size: 20px; */
    font-size: 27px;
    /* color: red; */
  }
  .navbar {
    max-width: 375px;
  }
}
